<!-- The Modal -->
<div class="modal fade" id="deletePersonModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h2 id="fullName2"></h2>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<div type="button" class="btn btn-secondary" id="yesDeletephone">Yes</div>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				<p id="errorMessage" class="alert lable-danger"></p>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
			</div>

		</div>
	</div>
</div>

